/* You can add global styles to this file, and also import other style files */
.divrow {padding: 2em;border-bottom: 2px solid #d9d9d9}
.genericrow {padding: 2em;border-top: 6px solid #6f6f6f}
.commentrow {padding: 1em}
.dynamic-height {max-height: 250px;}
.overflow {
  -ms-word-wrap: break-word;
  word-wrap: break-word;}
.center {
  margin: auto;}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-menubar .ui-menuitem-link {
  font-size: 20px;
}

.ui-accordion-header-text {
  font-size: 18px;
}
.smallheader {
  font-size: 18px;
}
