<p-messages key="successfulMsg"></p-messages>
<p-messages key="errorMsg"></p-messages>
<div class="ui-g">
  <h3 class="first ui-g-12">Choose file(s) you want to upload</h3>
  <h5 class="ui-g-12"> Or, drag and drop them to the upload box</h5>
  <p-fileUpload class="ui-g-12 ui-lg-10 ui-md-12 center" name="file"
                url="{{this.BASE_URL}}/{{this.companyName}}/{{this.teamName}}/upload" (onUpload)="onUpload($event)"
                (onBeforeSend)="onBeforeSend($event)" (onError)="onError($event)" multiple="multiple"
                maxFileSize="1000000" accept=".xml,.json">
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template>
  </p-fileUpload>
</div>
