<p-messages key="successfulMsg"></p-messages>
<p-messages key="errorMsg"></p-messages>
<h3 class="first">Choose file(s) you want to upload</h3>
<h5> Or, drag and drop them to the upload box</h5>
<p-fileUpload name="file" url="http://{{this.hostName}}:4343/xebia/vulnmanager/upload" (onUpload)="onUpload($event)"
              (onBeforeSend)="onBeforeSend($event)" (onError)="onError($event)" multiple="multiple"
              maxFileSize="1000000" accept=".xml,.json">
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-fileUpload>
