<h1>Welcome to Xebia Vulnmanager</h1>
<h4>You can navigate with the nav-bar up top</h4>



<button type="text" (click)="visibleSidebar1 = true" pButton icon="fa-external-link-square" label="Show Sidebar"></button>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Test Sidebar</h1>
  <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
  
</p-sidebar>
