<div class="container">
  <h1>login Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="username" required [(ngModel)]="user.username">
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" name="password" id="password" required [(ngModel)]="user.password">
    </div>
    
    <button type="submit" class="btn btn-success" (click)="Register()">Register</button>
    <button type="submit" class="btn btn-success" (click)="Login()">Login</button>

  </form>
</div>
